<nav id="nav-bar">
	<div id="nav-bar-content">
	  <ul>
			<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
			<!-- <li><a href="{{ "/dove-siamo" | prepend: site.baseurl }}">Dove siamo</a></li> -->
			<!-- <li><a href="{{ "/contatti" | prepend: site.baseurl }}">Contatti e orari</a></li> -->
			<li><a href="{{ "/prestazioni" | prepend: site.baseurl }}">Prestazioni</a></li>
			<li><a href="{{ "/curriculum" | prepend: site.baseurl }}">Curriculum</a></li>
	  </ul>

		<!-- <div class="offer already-visited">
			<hr>
			<p>Prenota <b>gratuitamente</b> la tua prima visita, senza nessun impegno.</p>
			<button class="button">Prenota ora!</button>
		</div> -->
	</div>
</nav>
