header {
  z-index: 999;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
  height: 5.6rem;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

#hamburger-menu {
  padding: 0;
  cursor: pointer;
  fill: #606c76;
  margin-top: .6rem;

  svg {
    margin-bottom: -1rem;
  }
}

#hamburger-menu :hover {
  fill: black;
}

#logo a {
  border: none;
  box-shadow: none;
}

@media screen and (min-width: 1400px) {
  #hamburger-menu {
    display: none;
  }
}
